@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');


:root{
    --cabecalho:  #E5ECF6;
    --borda: #94ADD2;
    --card: #D6E4FF;
    --texto_prin: #1A2B5F;
    --texto_sec: #4A64A6;
    --botao: #3366FF;
    --hover: #254EDB;
}

header{
    border-bottom: 2px solid #BFD7EA;
    font-family: 'Gorditas', serif;
    padding: 0px;
    margin: 0px;
}
.container{
    border-bottom: 2px solid var(--borda);
    border-width: 0px;
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
.logo{
    height: 20vh;
    width: 60%;
    background-color:  var(--cabecalho);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.segunda{
    width: 40%;
    background-color: var(--cabecalho);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}
.img{
    height: 40px;
    width: 40px;
}
.carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txt_carrinho{
    border: 2px solid var(--texto_prin);
    background-color: #1A2B5F;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-small;
}
